#social-media-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.social-icon:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.1);
}

.social-icon {
    display: block;
    cursor: pointer;
    margin: 0 12px 12px;
}
